/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #0079c1;
  color: white;
  font: 95% Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


div.body {
margin-left: auto;
margin-right: auto;
justify-content: center;
font: 95% Arial, Helvetica, sans-serif;
}

div.disciplineTabs {
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  font: 95% Arial, Helvetica, sans-serif;
}

div.emDisciplineTabs {
  margin-left: 13%;
  margin-right: 13%;
  justify-content: center;
  font: 95% Arial, Helvetica, sans-serif;
}

table.legendTable {
  font: 95% Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right : auto;
  border-color: #0079c1;
  border: 2px;
  border-top-left-radius: 10px;
}


tr.legendTable th{
  background-color: #0079c1;
  color: #F7F7F7;
  border-color: #0079c1;
}

tr.legendTable td {
  text-align: center;
  border-color: #0079c1;
}

table.alloTable {
  font: 95% Arial, Helvetica, sans-serif;
  /* margin-left: 15%; */
  border-color: #002955;
  border: 2px;
}

table.alloTable2 {
  font: 95% Arial, Helvetica, sans-serif;
  border-color: #002955;
  border: 2px;
}


tr.alloTable th{
  background-color: #002955;
  color: #F7F7F7;
  border-color: #002955;
}

tr.alloTable td {
  text-align: center;
  border-color: #002955;
}

div.header {
  margin-right: -8px;
  margin-left: -8px;
  margin-top: -8px;
  height : 80px;
  background-color: #002955;
  display:flex; 
  flex-direction:row;
  color: white;
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 40px;
  justify-content: left;
  line-height: 80px;
}

div.h1 h1 {
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: white;
  line-height: 80px;
}

button {
  font: 95% Arial, Helvetica, sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color:#0079c1;
  color : #0079c1;
  border-radius: 5px;
  border-width: 1px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}

div.reset{
  margin-top: -5px;
  justify-content: center;
  margin-left: 13%;
}

button.reset{
  font: 95% Arial, Helvetica, sans-serif,;
  font-weight: bold;
  font-size: 14px;
  Height: 34px;
  width: 115px;
  color: white;
  background-repeat:no-repeat;
  background-color : #0079c1;
  border-radius: 15px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  justify-content: center;
}

button.Aes {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

div.cenButton {
  display: flex;
  top: 0px;
  justify-content: center;
}

div.theRest {
  position: relative;
  top: 0px;
}

div.chart {
  justify-content: center;
}

div.mainChart {
  top:0;
  z-index: 999;
  border-bottom: 2px solid;
  border-bottom-color: #002955;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.sticky {
  position: sticky;
  top:0;
  z-index: 999;
  background-color: white;
  border-bottom: 2px solid;
  border-bottom-color: #002955;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
