div.flexBox {
  display: flex;
  width : 100%;
  font: 95% Arial, Helvetica, sans-serif;
   
}


div.body {
margin-left: auto;
margin-right: auto;
justify-content: center;
font: 95% Arial, Helvetica, sans-serif;
}

div.disciplineTabs {
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  font: 95% Arial, Helvetica, sans-serif;
}

table.legendTable {
  font: 95% Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right : auto;
  border-color: #0079c1;
  border: 2px;
}


tr.legendTable th{
  background-color: #0079c1;
  color: #F7F7F7;
  border-color: #0079c1;
}

tr.legendTable td {
  text-align: center;
  border-color: #0079c1;
}

table.alloTable {
  font: 95% Arial, Helvetica, sans-serif;
  margin-left: 15%;
  border-color: #002955;
  border: 2px;
}

table.alloTable2 {
  font: 95% Arial, Helvetica, sans-serif;
  border-color: #002955;
  border: 2px;
}


tr.alloTable th{
  background-color: #002955;
  color: #F7F7F7;
  border-color: #002955;
}

tr.alloTable td {
  text-align: center;
  border-color: #002955;
}

div.header {
  margin-right: -100px;
  margin-left: -100px;
  margin-top: -25px;
  height : 80px;
  background-color: #002955;
  text-align: center;
}

div.header h1 {
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: white;
  line-height: 80px;
}

button {
  font: 95% Arial, Helvetica, sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color:#0079c1;
  color : #0079c1;
  border-radius: 5px;
  border-width: 1px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}

button.Aes {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

div.cenButton {
  display: flex;
  top: 0px;
  justify-content: center;
}

div.theRest {
  position: relative;
  top: 0px;
}

div.chart {
  justify-content: center;
}

div.sticky {
  position: sticky;
  top:0;
  z-index: 999;
  border-bottom: 2px solid;
  border-bottom-color: #002955;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
