button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color:black;
  border-radius: 5px;
  border-width: 1px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}

button.Aes {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

div.cenButton {
  display: flex;
  top: 0px;
  justify-content: center;
}

div.theRest {
  position: relative;
  top: 0px;
}

div.chart {
  justify-content: center;
}

div.sticky {
  position: sticky;
  top:0;
  z-index: 999
}

